<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/fonts.css" rel="stylesheet" type="text/css">
	<link href="/nav.css" rel="stylesheet" type="text/css">
	<title><%= title %></title>
    <title>HTTP Uptime App</title>
</head>
<body>
	<div class="topnav">
	<a class="active" href="#home">Dashboard</a>
	<a href="#news">News</a>
	<a href="#contact">Contact</a>
	<a href="#about">About</a>
	</div>
