<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP Uptime App</title>
</head>
<body>
	<div class="topnav">
	<a class="active" href="#home">Dashboard</a>
	<a href="#news">News</a>
	<a href="#contact">Contact</a>
	<a href="#about">About</a>
	</div>
