<%- include("partials/header", { title: "Dashboard" }) %>
<link href="/pass.css" rel="stylesheet" type="text/css">
<center><h1 class="pass">You are successfully logged in. You will stay logged in for one day.</h1></center>
<%- include("partials/footer") %>